*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Montserrat;
  src: url("/public/fonts/Montserrat-Black.ttf");
}

body{
  max-height: 100vh;
  background-color: #263341;
  color: #5B6570;
  font-family: Montserrat, sans-serif;
}

.line{
  position: absolute;
  width: 4px;
  height: 100vh;
  background-color: #F23054;
}

.line-border{
  border-left: 3px solid #F23054;
  border-right: 3px solid #F23054;
}

.wrapper{
  width: 360px;
  padding-top: 50px;
  margin: auto;
}

.main-menu.menu{
  margin: auto;
  height: 470px;
  width: 350px;
  padding: 10px 20px 10px 20px;
  background-color: #2C3C4D;
  border-radius: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.main-menu.header{
  width: 350px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 20px;
}

.main-menu.header #time{
  margin: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #eee;
}

.main-menu .my-button{
  background: none;
  border: none;
  width: 90px;
  height: 130px;
  border-radius: 13px;
  margin: 1px;
  text-align: center;
  cursor: pointer;
}

.main-menu .my-button p{
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #eee;
  font-size: 15px;
  text-decoration: none;
}

.main-menu .my-button .image{
  height: 90px;
  background-color: #5B6570;
  border-radius: 13px;
  margin-bottom: 7px;
}

.main-menu .my-button .image img{
  margin: 5%;
  height: 90%;
}

.main-menu .my-button:hover .image{
  background-color: #793044;
  cursor: pointer;
}

.my-button .image.music{
  background-color: #5833A6;
}

.my-button:hover .image.music{
  background-color: #724EBF;
}

.my-button .image.chat{
  background-color: #37a633;
}

.my-button:hover .image.chat{
  background-color: #4ebf54;
}

.my-button .image.album{
  background-color: #F57C00;
}

.my-button:hover .image.album{
  background-color: #F2AA52;
}

.my-button .image.logout{
  background-color: #D90404;
}

.my-button:hover .image.logout{
  background-color: #F24141;
}

.my-button .image.settings{
  background-color: #0F1D75;
}

.my-button:hover .image.settings{
  background-color: #0a1fa3;
}

.my-button .image.spacer{
  background-color: #2C3C4D;
}

.my-button:hover .image.spacer{
  background-color: #2C3C4D;
  cursor: default;
}

.my-button .image.todolist{
  background-color: #2E97F2;
}

.my-button:hover .image.todolist{
  background-color: #2ECEF2;
}

.my-button .image.flashcards{
  background-color: #E0C516;
}

.my-button:hover .image.flashcards{
  background-color: #cfc373;
}

.my-button .image.sudoku{
  background-color: #111414;
}

.my-button:hover .image.sudoku{
  background-color: #272E2D;
}

.welcome-header{
  margin-left: 20px;
}

.welcome-header .nick{
  color: aliceblue;
}

.content .categories{
  display: flex;
}

.content .categories h2{
  display: block;
  height: 50px;
  margin: 20px 20px 0px 20px;
}

.content .categories .category{
  display: flex;
  flex-flow: column;
}

.content .categories .dot{
  display: block;
  background-color: #F23054;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: -12px 53% 10px 47%;
}

.content .categories h2:hover, .content .categories h2:active{
  color: #F23054;
  cursor: pointer;
}

.content .categories .category.active{
  color: #F23054;
}

.content .browser{
  height: 360px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content .stationbtn{
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px solid #5B6570;
  border-radius: 13px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.content .stationbtn:hover, .content .stationbtn:active{
  background-color: #793044;
  cursor: pointer;
  color: white;
}

.stationbtn .main-line{
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.stationbtn .main-line div img{
  height: 40px;
  width: 40px;
}

.stationbtn h2{
  color: #fff;
}

.stationbtn h3{
  font-size: 13px;
  margin-left: 10px;
}

.stationbtn .visualizer{
  margin: 30px 0 0 15px;
}

.bar{
  margin: 1px;
  width: 6px;
  height: 40px;
  background-color: #F23054;
  display: inline-block;
  border-radius: 13px;
  transform-origin: bottom center;
  animation: visualizing 3s ease-in-out infinite;
}

.bar1{
  animation-delay: 0.1s;
}
.bar2{
  animation-delay: 0.2s;
}
.bar3{
  animation-delay: 0.3s;
}
.bar4{
  animation-delay: 0.4s;
}
.bar5{
  animation-delay: 0.5s;
}
.bar6{
  animation-delay: 0.6s;
}
.bar7{
  animation-delay: 0.7s;
}

.footer{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.footer .audio{
  margin: 10px auto 30px auto;
}

.audio img{
  height: 30px;
  width: 30px;
  vertical-align: -10px;
  margin: 0px 10px;
}

.audio .audio-range{
  height: 3px;
  width: 300px;
  -webkit-appearance: none;
  background: #2C3C4D;
  outline: none;
  border-radius: 15px;
}

.audio .audio-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #F23054;
  cursor: pointer;
}

.footer .btn-menu{
  width: 250px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.btn-menu .my-button:hover{
  cursor: pointer;
}

.btn-menu .play, .btn-menu .back, .btn-menu .next{
  border-radius: 20px;
  transform: rotate(45deg);
}

.btn-menu img{
  transform: rotate(-45deg);
  margin: 2px;
  height: 50px;
  width: 50px;
}

.btn-menu .play img{
  margin: 7px;
}

.btn-menu .play{
  height: 60px;
  width: 60px;
  background-color: #F23054;
}

.btn-menu .play:hover{
  background-color: #793044;
}

.btn-menu .back, .btn-menu .next{
  background-color: azure;
  height: 50px;
  width: 50px;
}

.btn-menu .back:hover, .btn-menu .next:hover{
  background-color: #5B6570;
}

@keyframes visualizing{
  0%{
      transform: scaleY(0.1);
      background-color: #793044;
  }
  50%{
      transform: scaleY(1);
      background-color: #F23054;
  }
  100%{
      transform: scaleY(0.1);
      background-color: transparent;
  }
}

.wrapper-middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  flex-flow: column;
}

.info{
  color: #acbcc0;
  margin: 10px;
  text-align: center;
}

.message{
  background-color: #5B6570;
  border-radius: 13px;
  padding: 10px;
  color: #eee;
  font-weight: 400;
  font-size: 20px;
}

.my-message{
  text-align: right;
}

.other-message{
  background-color: #F23054;
}

.send-box{
  display: flex;
}

#message-input{
  margin: 20px 10px;
  padding: 7px 20px;
  border-radius: 13px;
  border: none;
  height: 30px;
  flex: 3;
  font-size: 17px;
  font-weight: 500;
}

.send-message{
  flex: 1;
}

.album-box{
  min-height: 400px;
  width: 500px;
  background-color: #5B6570;
  border-radius: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.album-box .image{
  background-color: #793044;
  border-radius: 13px;
  padding: 10px;
  margin: 10px;
}

.album-box .image img{
  height: 100px;
}

.album-box .image:hover{
  cursor: pointer;
  background-color: #F23054;
}

.main-menu.flash-cards{
  height: auto;
  padding: 30px;
}

.flash-cards button{
  border: none;
  border-radius: 13px;
  padding: 20px;
  margin: 20px 5px;
  color: #eee;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.flash-cards button:nth-child(n){
  background-color: #37a633;
}

.flash-cards button:nth-child(n):hover{
  background-color: #4ebf54;
}

.flash-cards button:nth-child(2n){
  background-color: #2E97F2;
}

.flash-cards button:nth-child(2n):hover{
  background-color: #2ECEF2;
}

.card {
  text-align: center;
  cursor: pointer;
  width: 340px;
  height: 200px;
  color: #eee;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.card .front,.card .back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 13px;
  transition: transform .6s linear;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.card .front h2,.card .back h2{
  margin: -50px 0 30px;
}

.card .front{
  background: #263341;
  transform: perspective(600px) rotateY(0deg);
}

.card .back{
  background: #263341;
  transform: perspective(600px) rotateY(180deg);
}

.flash-card{
  background: none;
  border: none;
}

.flash-card:hover .front{
  transform: perspective(600px) rotateY(-180deg);
}

.flash-card:hover .back{
  transform: perspective(600px) rotateY(0deg);
}

.flash-card-input{
  margin: auto;
  align-self: center;
  position: absolute;
  top: 150px;
}

.album .row{
  display: flex;
  flex-wrap: wrap;
}

.album .column{
  flex: 25%;
}

.home-button, .logout-button, .settings-button{
  position: absolute;
  top: 10px;
  height: 60px;
  width: 60px;
  border-radius: 13px;
  cursor: pointer;
  border: none;
}

.home-button img, .logout-button img, .settings-button img{
  height: 54px;
  align-self: center;
  margin: 2px;
}

.home-button{
  left: 20px;
  background-color: #37a633;
}

.logout-button{
  right: 10px;
  background-color: #D90404;
}

.settings-button{
  right: 80px;
  background-color: #2E97F2;
}

.home-button:hover, .home-button:active{
  background-color: #4ebf54;
}

.logout-button:hover, .logout-button:active{
  background-color: #F23054;
}

.settings-button:hover, .settings-button:active{
  background-color: #2ECEF2;
}

.work-in-progress{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2C3C4D;
  padding: 50px;
  border-radius: 13px;
}

.work-in-progress h3{
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  color: #fff;
}